.container {
  background: linear-gradient(#FDF8B6 98%, #F2CDA7 98%);
  background-size: 100% 2em;
  border-radius: 5px;
  box-shadow: 0 2px 6px;
  padding: 20px 5px 20px 60px;
  width: 350px;
}

.title {
  background-color: inherit;
  color: darkred;
  font-size: 1.5em;
  line-height: 80px;
  text-align: left;
}

.task-list {
  background-color: inherit;
}

.task-item {
  background-color: transparent;
  line-height: 2em;
  margin-left: 2em;
  position: relative;
}

.waiting::before {
  color: lightblue;
  content: "\2610";
  font-size: 1.2em;
  left: -1.5em;
  position: absolute;
}

.finish::before {
  color: lightgreen;
  content: "\2713";
  font-size: 1.2em;
  left: -1.5em;
  position: absolute;
}
